.node-type-product-display .l-content #product-bundle {
  clear: both;
  font-weight: bold;
  font-size: 1.15em;
  color: #ed0088;
  text-transform: uppercase;
}

.field-bundle-product-section img {
  border: 1px solid #ccc;
}
.field-bundle-product-section .free-product-item img {
  border: 1px solid #fd9900;
}
.field-bundle-product-section .product-item,
.field-bundle-product-section .free-product-item {
  float: left;
  background: url('../images/plus.png') no-repeat 0px 15px;
  margin-left: 0px;
  padding-left: 30px;
  width: 80px;
}
.field-bundle-product-section .free-product-item {
  background: url('../images/free-product-plus.png') no-repeat 0px 15px;
}
.field-bundle-product-section .free-product-item .title .label {
  text-transform: uppercase;
  display: block;
}
.field-bundle-product-section .product-item-first,
.field-bundle-product-section .free-product-item-first {
  margin-left: 0px;
  background: none;
  padding-left: 0px;
}
.field-bundle-product-section .product-item-last,
.field-bundle-product-section .free-product-item-last {

}
.field-bundle-product-section .header {
  background: #ffe4ed;
  height: 48px;
  margin-bottom: 7px;
}
.field-bundle-product-section .header .discount {
  background: url('../images/discountbg.png') no-repeat left center;
  height: 43px;
  width: 130px;
  float: left;
  color: #fff;
  padding-left: 10px;
  padding-top: 5px;
}
.field-bundle-product-section .header .discount .percentage {
  font-weight: bold;
  font-size: 16px;
}
.field-bundle-product-section .header .delivery {
  height: 41px;
  margin-left: 160px;
  font-weight: bold;
  padding-top: 7px;
}
.field-bundle-product-section .header .delivery .delivery-text {
  color: #3aad00;
  margin-left: 30px;
}
.field-bundle-product-section .bundle-product-row {
  clear: both;
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
.field-bundle-product-section .bundle-product-row .products-list {
  width: 600px;
}
.field-bundle-product-section .bundle-product-row .bundle-addcart .form-submit {
  background: url('/sites/all/themes/qoonyt/images/buy.png') no-repeat left center;
  /*width: 100%;*/
  height: 30px;
  line-height: 30px;
  padding: 0 15px 0 50px;
  font-size: 1.27em;;
}
.field-bundle-product-section .product-item .title {
  width: 80px;
}
.field-bundle-product-section .bundle-product-row .bundle-addcart {
  float: right;
}
.field-bundle-product-section .bundle-product-row .bundle-addcart .full-price {
  text-transform: uppercase;
  height: 20px;
  color: #737273;
  text-decoration: line-through;
  margin-right: 10px;
  text-align: right;
}
.field-bundle-product-section .bundle-product-row .bundle-addcart .discount-price {
  font-weight: bold;
  font-size: 1.15em;
  color: #ed0088;
  text-transform: uppercase;
  text-align: right;
}
.field-bundle-product-section .bundle-product-row .bundle-addcart .bundle-prices {
  text-align: right;
}

/* Add cart. */
.field-bundle-product-add-cart {
  margin: 30px 0 0;
  font-size: 13px;
  float: right;
  width: 30%;
  position: relative;
  clear: right;

}
.field-bundle-product-add-cart .add-cart-bundle {
  border: 1px solid #ccc;
  background: #f9f9f9 url('../images/box.png') no-repeat 10px 5px;
}
.field-bundle-product-add-cart .add-cart-bundle .discount {
  padding: 7px 0 7px 50px;
  font-weight: bold;
}
.view-commerce-cart-form table.views-table td.views-field-field-bundle-product,
.view-commerce-cart-form table.views-table td.bundle-free-product {
  background-color: #fff;
}
.views-field-field-bundle-product .image img,
.bundle-free-product .image img {
  border: 1px solid #ccc;
  display: block;
}
.views-field-field-bundle-product .image,
.bundle-free-product .image {
  float: left;
  padding-left: 15px;
  margin: -1px 15px -1px 105px;
  line-height: 40px;
  display: inline-block;
}
.views-field-field-bundle-product .title,
.bundle-free-product .title {
  padding: 10px 0;
}
.bundle-free-product .image {
  background: url('/sites/all/themes/qoonyt/images/free_product.png') no-repeat left center;
}
.bundle-free-product .bundle-free-product img {
  border: 1px solid #f8933c;
  display: block;
}


